<style>
    .icon {
        color: rgb(2, 58, 143);
        margin: 0 20px;
        font-size: 100px;
    }
    .csa-line {
        display: flex;
        width: 80%;
        margin: 50px auto;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="csa">
    <div class="csa-line">
        <div class="line-content">We are having around <span class="content-highlight">100+</span> happy customers.</div>
        <div class="fa fa-user icon"></div>
    </div>
    <div class="csa-line">
        <div class="fa fa-calendar icon"></div>
        <div class="line-content">In that around <span class="content-highlight">80%</span> of them are doing business with us for past 10 years.</div>
    </div>
    <div class="csa-line">
        <div class="line-content"> Not only the delivery and cost, support also matters which we do a lot.</div>
        <div class="fa fa-volume-control-phone icon"></div>
    </div>
</div>