<style>
    .icon {
        color: rgb(2, 58, 143);
        margin: 0 20px;
        font-size: 100px;
    }
    .delivery-line {
        display: flex;
        width: 80%;
        margin: 50px auto;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="delivery">
    <div class="delivery-line">
        <div class="line-content"><span class="content-highlight">Delivery Status</span> will be updated frequently.</div>
        <div class="fa fa-clock-o icon"></div>
    </div>
    <div class="delivery-line">
        <div class="fa fa-thumbs-up icon"></div>
        <div class="line-content"><span class="content-highlight">100% Guarantee</span> for all the products and will be delivered with full care.<br></div>
    </div>
    <div class="delivery-line">
        <div class="line-content">Have our own fleet of vehicle to ensure correct time delivery..</div>
        <div class="fa fa-truck icon"></div>
    </div>
</div>
