<style>
    .icon {
        color: rgb(2, 58, 143);
        margin: 0 20px;
        font-size: 100px;
    }
    .delivery-line {
        display: flex;
        width: 80%;
        margin: 50px auto;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="delivery">
    <div id="close" class="close"><div class="close-inline fa fa-times-circle-o"></div></div>
    <div class="delivery-line">
        <div class="line-content"><span class="content-highlight">Competitive Price</span> in the market</div>
        <div class="fa fa-usd icon"></div>
    </div>
    <div class="delivery-line">
        <div class="fa fa-superpowers icon" style="color:rgb(236, 213, 2);"></div>
        <div class="line-content">Optimum Price for the <span class="content-highlight">Product Quality</span></div>
    </div>
    <div class="delivery-line">
        <div class="line-content">Delivery and Wastage cost will <span class="content-highlight">not be charged</span></div>
        <div class="fa fa-hand-peace-o icon" style="color:rgb(1, 189, 1);"></div>
    </div>
</div>
    