.title {
    color: rgb(42, 150, 252);
    font-family: 'Montserrat', sans-serif;
    align-content: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px;
    font-size: 30px;
    text-align: center;
}

.container {
    background: url('./minion.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

#dimensions {
    margin-left: 20px;
    margin-top: 20px;
    width: 700px;
    height: 200px;
    background:#c2c1c141;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

table {
    margin-left: 20px;
}

td {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
    text-align: center;
    padding-left: 10px;
}

th {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-left: 10px;    
}

thead {
    border-bottom: 1px solid black;
}

input {
    border: none;
    border-bottom: 2px solid rgb(42, 150, 252);
    background: #c2c1c100;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;   
}

input:focus {
    border: none;
    border-bottom: 2px solid rgb(1, 134, 23);
    background: #c2c1c100;
    font-size: 15px;
    outline: none;
    font-family: 'Montserrat', sans-serif;   
}

input:hover {
    border: none;
    border-bottom: 2px solid rgb(221, 144, 2);
    background: #cf9f0000;  
}

tr {
    padding-top: 10px;
    position: relative;
}

.clabel {
    float:left;
    width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#cost {
    margin-left: 20px;
    margin-top: 20px;
    width: 700px;
    height: 200px;
    background:#c2c1c141;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ply {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    width: 500px;
    background:#c2c1c141;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
    padding-top: 30px;
    padding-left: 40px;
}

.keycode-row {
    padding-top: 50px;
    padding-left: 30%;
}

.float-btn {
    margin-left: 600px;
}

button {
    background: rgb(42, 150, 252);
    width: 150px;
    height: 50px;
    font-size: 20px;
    border: none;
    color: white;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

button:hover {
    background: rgb(221, 144, 2);
}

button:active {
    background:rgb(1, 134, 23);
    outline: none;
    border:none;
}

button:focus {
    outline:none;
}

.result, .keycode {
    position: fixed;
    top:0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 90;
    background:#0000006e;
}

.spacer {
    padding-top: 50px;
}

.keycode-content {
    margin-top: 300px;
    margin-left: 400px;
    width: 800px;
    height: 400px;
    background: white;
}

.result-content {
    margin-top: 50px;
    margin-left: 400px;
    width: 800px;
    height: 850px;
    background: white;
}

th.ch {
    padding-left: 100px;
    padding-right: 80px;
    height: 80px;
    border-bottom: 1px solid #ddd;
}

td.cd {
    padding-left: 100px;
    padding-right: 90px;
    height: 80px;
    border-bottom: 1px solid #ddd;
}

.drop-down-btn {
    width: 20px;
    height: 20px;
    margin-left:-25px;
    cursor: pointer;
}

.drop-down {
    background-color:rgb(248, 245, 245);
    width:170px;
    list-style-type: none;
    padding: 0;
    display:none;
    margin: 0;
    position:absolute;
    margin-left:200px;
    z-index:6;
}

td .drop-down {
    margin-left:0px;
}

li {
    height:50px;
    text-align: center;
    display: flex;
    padding-left: 40%;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.1px solid gray;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

#pl {
    cursor: pointer;
}

li:hover {
    background: rgb(42, 150, 252)
}

