<section>
    <img class = "rj-about-image" src="../../assets/images/aboutus.jpg"/>
    <div class="rj-about" id="about">
        <h3>About Us:</h3>
        <br>
        <img class="rj-loader" ng-show="loading" src="../../assets/images/loader.gif"/>
         <p ng-repeat-start = "aboutus in rajpack.aboutus"> {{aboutus}} </p> <br ng-repeat-end>
        <div>
            <h2>Our Company:</h2>
            <img src="../../assets/images/about1.JPG" class="rj-about-images"/>
            <img src="../../assets/images/about2.JPG" class="rj-about-images"/>
            <img src="../../assets/images/about3.JPG" class="rj-about-images"/>
            <img src="../../assets/images/about4.JPG" class="rj-about-images"/>
        </div>
    </div>
    <div class="rj-home-footer">
            Copyright All Rights Reserved © 2018
    </div>
</section>