<section class="rj-contact-bg" ng-init="init()">
    <div class='inner-contact'>
            <div class='contact-header'>Contact Us</div>
            <div class='office-header'>Office</div>
            <div class='office-content'>No: T247, T6 Main Road, 
                Sidco Women Industrial Estate, 
                Kattur Village, Thirumullaivoyal, 
                Chennai - 600 062.</div>
            <div class='office-header'>Phone Number</div>
            <div class='office-content'>9444123161, 8825779500, 
                8428304926.</div>
            <div class='office-header'>Email ID</div>
            <div class='office-content'>rajpack@rocketmail.com, vkdevadoss@gmail.com</div>
            <div class='office-header'>LOCATION</div>
            <div id="map" style="height: 500px;margin-left: 20%;margin-right: 20%;margin-top:10%;"></div>
        </div>
</section>