body {
    margin: 0;
}
.app-container {
    background: rgb(248, 248, 248);
    overflow: scroll;
    position: relative;
    min-width: 600px;
}
.nav-tab {
    position: fixed;
    width: 100%;
    height: 60px;
    min-width: 600px;
    z-index: 4;
    background: rgb(66, 152, 250);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.301);
}

.alt-nav-tab {
    width: 100%;
    position: fixed;
    height: 60px;
    margin-top: 168px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-width: 100px;
    z-index: 4;
    background: rgb(66, 152, 250);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.301);
}

.logo-container {
    float: left;
    height: 62px;
    width: 60px;
    position: relative;
    background: white;
}
.logo {
    position: absolute;
    left: -6px;
    top: -3px;
    height: 80px;
    width: 80px;
}

.nav-tab > a {
    float: right;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    margin: 10px;
    display: block;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    -webkit-transition: background 0.5s, color 1s;
    transition: background 0.5s, color 1s;
}

.alt-nav-tab > a {
    color: black;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding: 15px;
    background: white;
    text-align: center;
    border: 1px solid rgb(66, 152, 250);
    z-index: 3;
    display: block;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    -webkit-transition: background 0.5s, color 1s;
    transition: background 0.5s, color 1s;
}

.alt-nav-tab > a:hover {
    background: rgb(66, 152, 250);
    color: white;
}

.nav-tab > .menu {
    right: 0;
    color: white;
    font-size: 32px;
    position: fixed;
    padding: 10px;
    margin: 5px 10px;
    cursor: pointer;
    display: none;
}

.nav-tab > a:hover {
    background: white;
    border-radius: 10px;
    color: rgb(66, 152, 250);
}

.nav-tab > a:focus {
    background: rgba(224, 223, 223, 0.479);
    border-radius: 10px;
}
.image-container {
    margin-top: 2px;
    position: relative;
    overflow: hidden;
}

.image-carousel {
    height: 1000px;
    width: 100%;
}

#img-prev {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 500px;
    z-index: 2;
}

.invisible {
    opacity: 0;
    transform: scale(2);
}

#img-prev > svg{
    filter: drop-shadow( 1px 1px 2px rgba(93, 61, 61, 0.7));
    cursor: pointer;
}

#img-next > svg{
    filter: drop-shadow( 1px 1px 2px rgba(93, 61, 61, 0.7));
    cursor: pointer;
}

#img-next {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 500px;
}

.image-carousel > img{
    width: 100%;
    height: 1000px;
    position: absolute;
    display: block;
    -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 1s;
    -moz-transition: opacity 0.5s ease-in-out, -moz-transform 1s;
    -ms-transition: opacity 0.5s ease-in-out, -ms-transform 1s;
    transition: opacity 0.5s ease-in-out, transform 1s;
}

.rajpack-content {
    margin: 70px 20px;
    background: linear-gradient(to bottom, rgba(218, 216, 216, 0.322), rgb(255, 254, 254));
    font-family: 'Quicksand', sans-serif;
    text-align: left;
}

.rajpack-content > .content-header {
    font-weight: 600;
    font-size: 2rem;
    color: rgb(2, 58, 143);
    text-align: center;
    padding: 15px;
}

.rajpack-content  .content-starter {
    font-weight: 600;
    font-size: 2rem;
    color: rgb(2, 58, 143);
    text-align: center;
    padding: 0 20px;
}

.content-body {
    padding: 20px;
    font-size: 20px;
    color: rgb(114, 112, 112);
    line-height: 1.6;
}

.content-highlight {
    font-weight: 800;
    color: rgb(2, 58, 143);
    font-size: 24px;
}

.rajpack-content .rajpack-cards {
    display: flex;
    flex-direction: column;
}

.card {
    margin: 5px;
    background: white;
    border-radius: 10px;
    position: relative;
}

.card-pack {
    padding: 0;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.type1 {
    width: 486px;
    height: 400px;
}
.type2 {
    width: 486px;
    height: 600px;
}
.type3 {
    width: 486px;
    height: 200px;
}

.short-card {
    margin: 20px;
    width: 300px;
    height: 200px;
    display: flex;
    background: white;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.blacken-board {
    position: absolute;
    width: 100%;
    height: 0;
    bottom:0;
    z-index: 2;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.short-card:hover > .place-text{
    transition: 1s;
    opacity: 1;
    -ms-transform: translate(0, -100px);
    -webkit-transform: translate(0, -100px);
    transform: translate(0, -100px);
}

.short-card:hover > .blacken-board {
    height: 100%;
}

.place-text {
    position: absolute;
    opacity: 0;
    bottom: 0;
    z-index: 3;
    left: 0;
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    -webkit-transition: -webkit-transform 1s, opacity 0.5s;
    -moz-transition: -moz-transform 1s, opacity 0.5s;
    -ms-transition: -ms-transform 1s, opacity 0.5s;
    transition: transform 1s, opacity 0.5s;
    text-align: center;
}

.short-card > img {
    height: 70%;
    width: 60%;
    display: block;
    margin: auto;
    align-items: center;
}

.card > img{
    height: 100%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.card > img:hover, .card > div:hover + img{
    opacity: 0.4;
}

.card > div {
    font-weight: 600;
    font-size: 2rem;
    padding: 5px;
    color: rgb(2, 58, 143);
    position: absolute;
    margin: auto;
    top: 40%;
    left: 20px;
    opacity: 0;
    width: 0;
    background: rgba(255, 255, 255, 0.527);
    border: 1px solid rgb(2, 58, 143);
    border-radius: 10px;
    box-shadow: 1px 1px 4px black;
    cursor: auto;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: opacity 0.5s ease-in-out, width 0.5s;
    -moz-transition: opacity 0.5s ease-in-out, width 0.5s;
    -ms-transition: opacity 0.5s ease-in-out, width 0.5s;
    transition: opacity 0.5s ease-in-out, width 0.5s;
}

.card > img:hover + div, .card > img + div:hover{
    opacity: 1;
    width: 400px;
}

.hover-text {
    color: rgb(250, 251, 252);
    font-weight: 600;
    font-size: 36px;
    position: absolute;
    z-index: 1;
    line-height: 4rem;
    height: 300px;
    margin: auto;
    left: 0;
    width: 100%;
    padding-top: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.521), rgba(255,255,255, 0));
    border-radius: 10px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 1px 1px 2px #000;
}

.float-container {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: -3;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.loading-modal {
    width: 0;
    height: 0;
    margin: auto;
    font-size: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: 600;
    border-radius: 10px;
    background: white;
    font-family: 'Quicksand', sans-serif;
    padding: 20px;
    line-height: 2rem;
    align-items: center;
}

.hide {
    display: none;
}

.float-container.open-state {
    z-index: 6;
    opacity: 1;
}

.modal {
    width: 0;
    height: 0;
    margin: auto;
    font-size: 20px;
    position: relative;
    font-weight: 600;
    border-radius: 10px;
    background: white;
    font-family: 'Quicksand', sans-serif;
    padding: 20px;
    line-height: 2rem;
    align-items: center;
    -webkit-transition: width 1s, height 1s;
    -moz-transition: width 1s, height 1s;
    -ms-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
}

.float-container.open-state > .modal {
    width: 60vw;
    height: 500px;
    overflow: scroll;
}

.float-container.open-state > .loading-modal {
    width: 60vw;
    height: 600px;
    overflow: scroll;
}

.contact-holder {
    position: fixed !important;
    right: 10px;
    width: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 34px !important;
    padding: 10px 15px;
    background: rgb(2, 58, 143);
    border-radius: 25px;
    cursor: pointer;
    text-overflow: clip;
    position: absolute;
    overflow: hidden;
    text-align: left;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    transition: width 1s;
}

.email-holder {
    position: fixed !important;
    top: 170px;
    right: 10px;
    width: 30px;
    font-size: 30px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 15px 12px 15px;
    background: red;
    border-radius: 25px;
    cursor: pointer;
    text-overflow: clip;
    position: absolute;
    overflow: hidden;
    text-align: left;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    transition: width 1s;
}

.feedback {
    position: fixed !important;
    bottom: 50px;
    right: 10px;
    width: 30px;
    font-size: 30px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 15px 12px 15px;
    background: rgb(0, 204, 255);
    border-radius: 25px;
    cursor: pointer;
    text-overflow: clip;
    position: absolute;
    overflow: hidden;
    text-align: left;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    transition: width 1s;
}

.enquiry {
    position: fixed !important;
    top: 240px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 30px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 15px 12px 15px;
    background: rgb(1, 2, 1);
    border-radius: 25px;
    cursor: pointer;
    text-overflow: clip;
    position: absolute;
    overflow: hidden;
    text-align: left;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    transition: width 1s;
}

.feedback:hover {
    background: rgba(81, 216, 250, 0.884);
}

.enquiry:hover {
    background: rgba(218, 219, 218, 0.527);
}

.footer {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    font-size: 16px;
    color: rgb(0, 1, 2);
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
}


.email-holder:hover {
    width: 280px;
}

.contact-holder:hover {
    width: 200px;
}

.mob-number {
    text-overflow: clip;
    position: absolute;
    overflow: hidden;
    left: 50px;
    top: 12px;
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    width: 50px;
    opacity: 0;
    white-space: nowrap;
    -webkit-transition: width 1s, opacity 1s;
    -moz-transition: width 1s, opacity 1s;
    -ms-transition: width 1s, opacity 1s;
    transition: width 1s, opacity 1s;
}

.email-id {
    text-overflow: clip;
    position: absolute;
    overflow: hidden;
    left: 55px;
    top: 14px;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    width: 50px;
    opacity: 0;
    white-space: nowrap;
    -webkit-transition: width 1s, opacity 1s;
    -moz-transition: width 1s, opacity 1s;
    -ms-transition: width 1s, opacity 1s;
    transition: width 1s, opacity 1s;
}

.email-holder:hover > .email-id {
    opacity: 1;
    width: 250px;
}


.contact-holder:hover > .mob-number {
    opacity: 1;
    width: 180px;
}

.close {
    width: 50px;
    height: 50px;
    background: radial-gradient(rgba(255, 255, 255, 0),#aaaaaa55);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    cursor: pointer;
}

.close-inline {
    top: 5px;
    position: absolute;
    left: 8px;
    color: red;
    font-size: 40px !important;
}

.close:hover > .close-inline {
    color: rgba(255, 0, 0, 0.3);
}

.contact-card {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    min-width: 600px;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: black;
}

.contact-fr {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
}

.contact-info {
    width: 75%;
    padding: 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.contact-left {
    text-align: left;
    padding-left: 20px;
    margin: 10px 0;
    font-size: 24px;
    font-weight: 600;
    width: 15%;
}

.contact-right {
    margin-left: 20px;
    width: 80%;
}

.social-media {
    width: 20%;
    padding: 10px;
    height: 200px;
    position: relative;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
}

.fa-whatsapp {
    color: rgb(3, 236, 3);
    font-size: 54px !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.397);
    margin: 20px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
    background: white;
    z-index: 5;
    cursor: pointer;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    transition: width 1s;
}

.fa-whatsapp:hover {
    width: 220px;
}

.fa-facebook {
    color: rgb(23, 38, 250);
    font-size: 54px !important;
    text-decoration: none;
    margin: 20px;
    left: 100px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.397);
    top: 0;
    position: absolute;
    background: white;
    padding: 6px 17px 2px 17px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -ms-transition: background 1s;
    transition: background 1s;
}

.fa-whatsapp:hover + .whatsapp {
    width: 180px;
}

.whatsapp {
    position: absolute;
    width: 0;
    left: 85px;
    top: 35px;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    transition: width 1s;
    z-index: 6;
    color: rgb(2, 177, 2);
}

.fa-facebook:hover {
    background: rgba(255, 255, 255, 0.404);
}

.fa-twitter {
    color: rgb(89, 193, 253);
    font-size: 54px !important;
    margin: 20px;
    position: absolute;
    left: 200px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.397);
    top: 0;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -ms-transition: background 1s;
    transition: background 1s;
}

.fa-twitter:hover {
    background: rgba(255, 255, 255, 0.404);
}

.machinery-grid {
    display: grid;
    margin-top: 50px;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    position: relative;
    justify-content: center;
}

.machinery-grid  img{
    width: 400px;
    position: relative;
    cursor: pointer;
    height: 300px;
}

.machinery-text {
    position: absolute;
    display: flex;
    overflow: hidden;
    text-overflow: clip;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    color: white;
    font-weight: 600;
    cursor: pointer;
    z-index: -5;
    background: rgba(0, 0, 0, 0.589);
    -webkit-transition: width 1s, height 1s;
    -moz-transition: width 1s, height 1s;
    -ms-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
}

.machinery-text.type1 {
    left: 0;
    top: 0;
    width: 0;
    height: 0;
}

.machinery-text.type2 {
    right: 0;
    top: 0;
    width: 0;
    height: 0;
}

.machinery-text.type3 {
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
}

.machinery-text.type4 {
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
}

.machinery-text.type5 {
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
}

.machinery-text.type6 {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
}

.machinery-text.type7 {
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
}

.machinery-text.type8 {
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
}

img:hover + .machinery-text, img + .machinery-text:hover {
    width: 100%;
    height: 100%;
    z-index: 0;
}

@media screen and (max-width: 1200px) {
    .fa-twitter {
        top: 80px;
        left: 0;
    }
    .fa-whatsapp {
        top: 0;
        left: -50px;
    }
    .fa-facebook {
        top: 0;
        left: 50px;
    }
    .whatsapp {
        left: 35px;
    }
    .machinery-grid {
        grid-template-columns: auto auto;
    }

@media screen and (max-width: 800px) {
    .machinery-grid {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 700px) {
    .nav-tab > .menu {
        display: block;
    }
    .nav-tab > a {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .alt-nav-tab {
        display: none;
    }
}
}
