body {
    margin: 0;
}
.app-container {
    background: rgb(248, 248, 248);
    height: 100%;
    overflow: scroll;
    position: relative;
    min-width: 600px;
}
.nav-tab {
    position: fixed;
    width: 100%;
    height: 60px;
    min-width: 600px;
    z-index: 2;
    background: rgb(66, 152, 250);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.301);
}
.logo-container {
    float: left;
    height: 62px;
    width: 60px;
    position: relative;
    background: white;
}
.logo {
    position: absolute;
    left: -6px;
    top: -3px;
    height: 80px;
    width: 80px;
}

.nav-tab > a {
    float: right;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    margin: 10px;
    display: block;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    -webkit-transition: background 0.5s, color 1s;
    transition: background 0.5s, color 1s;
}

.nav-tab > a:hover {
    background: white;
    border-radius: 10px;
    color: rgb(66, 152, 250);
}

.nav-tab > a:focus {
    background: rgba(224, 223, 223, 0.479);
    border-radius: 10px;
}
.image-container {
    margin-top: 2px;
    position: relative;
    overflow: hidden;
}

.image-carousel {
    height: 1000px;
    width: 100%;
}

#img-prev {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 500px;
    z-index: 2;
}

.invisible {
    opacity: 0;
    transform: scale(2);
}

#img-prev > svg{
    filter: drop-shadow( 1px 1px 2px rgba(93, 61, 61, 0.7));
    cursor: pointer;
}

#img-next > svg{
    filter: drop-shadow( 1px 1px 2px rgba(93, 61, 61, 0.7));
    cursor: pointer;
}

#img-next {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 500px;
}

.image-carousel > img{
    width: 100%;
    height: 1000px;
    position: absolute;
    display: block;
    -webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 1s;
    -moz-transition: opacity 0.5s ease-in-out, -moz-transform 1s;
    -ms-transition: opacity 0.5s ease-in-out, -ms-transform 1s;
    transition: opacity 0.5s ease-in-out, transform 1s;
}

.rajpack-content {
    margin: 20;
    background: linear-gradient(to bottom, rgba(218, 216, 216, 0.322), rgb(255, 254, 254));
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.rajpack-content > .content-header {
    font-weight: 600;
    font-size: 2rem;
    color: rgb(2, 58, 143);
    text-align: center;
    padding: 25px
}

.rajpack-content > .content-body {
    padding: 30px;
    font-size: 20px;
    color: rgb(114, 112, 112);
    line-height: 1.6;
}

.rajpack-content .content-highlight {
    font-weight: 800;
    color: rgb(63, 62, 62);
    font-size: 20px;
}

.rajpack-content .rajpack-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 20px;
    width: 486px;
    height: 400px;
    background: white;
    border-radius: 10px;
    position: relative;
}

.card > img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.card > img:hover, .card > div:hover + img{
    opacity: 0.4;
}

.card > div {
    font-weight: 600;
    font-size: 2rem;
    padding: 5px;
    color: rgb(2, 58, 143);
    position: absolute;
    margin: auto;
    top: 40%;
    left: 20px;
    opacity: 0;
    width: 0;
    background: rgba(255, 255, 255, 0.527);
    border: 1px solid rgb(2, 58, 143);
    border-radius: 10px;
    box-shadow: 1px 1px 4px black;
    cursor: pointer;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: opacity 0.5s ease-in-out, width 0.5s;
    -moz-transition: opacity 0.5s ease-in-out, width 0.5s;
    -ms-transition: opacity 0.5s ease-in-out, width 0.5s;
    transition: opacity 0.5s ease-in-out, width 0.5s;
}

.card > img:hover + div, .card > img + div:hover{
    opacity: 1;
    width: 400px;
}

.hover-text {
    color: rgb(2, 58, 143);
    font-weight: 600;
    font-size: 36px;
    position: absolute;
    top: 100px;
    z-index: 1;
    line-height: 4rem;
    margin: auto;
    left: 0;
    width: 700px;
    right: 0;
    background: rgba(250, 249, 249, 0.815);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.322);
    border-radius: 10px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}